<!DOCTYPE html>
<html ng-app="myApp">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Day Planner</title>
      <link rel="stylesheet" href = "css/bootstrap.css">
      <link rel="stylesheet" href = "css/styles.css">
  </head>

  <body ng-controller="mainController">
    <div class = "container">
      <div class = "row">
        <div class = "col-md-12 header"><p>Day Planner - Google Places and Weather Lookup</p></div>
      </div>
      <!-- First row below the header, the search bar and the title for the weather data -->
      <div class = "row">
        <div class="col-md-6 title" ><input id = "search" type="text" placeholder = "Search in Troy, NY (Pizza, Deli, Bowling, etc.)"><p class = "btn btn-default" ng-click = "searchButton()" id = "searchButton">Go</p></button></div>
        <div class="col-md-6 title"><p>Weather For Today</p></div>
      </div>
      <!-- Five result divs with information to hold the Google places info -->
      <div class = "row">
        <div class = "col-md-6 data">
          <div class = "results" id = "result">
            <p class = "name" ng-model="name">{{name}}</p>
            <p class = "address" ng-model="address">{{address}}</p>
            <p class = "website" ng-model="website">{{website}}</p>
          </div>
          <div class = "results" id = "result1">
            <p class = "name" ng-model="name1">{{name1}}</p>
            <p class = "address" ng-model="address1">{{address1}}</p>
            <p class = "website" ng-model="website1">{{website1}}</p>
          </div>
          <div class = "results" id = "result2">
            <p class = "name" ng-model="name2">{{name2}}</p>
            <p class = "address" ng-model="address2">{{address2}}</p>
            <p class = "website" ng-model="website2">{{website2}}</p>
          </div>
          <div class = "results" id = "result3">
            <p class = "name" ng-model="name3">{{name3}}</p>
            <p class = "address" ng-model="address3">{{address3}}</p>
            <p class = "website" ng-model="website3">{{website3}}</p>
          </div>
          <div class = "results" id = "result4">
            <p class = "name" ng-model="name4">{{name4}}</p>
            <p class = "address" ng-model="address4">{{address4}}</p>
            <p class = "website" ng-model="website4">{{website4}}</p>
          </div>
          <div class = "results" id = "result5">
            <p class = "name" ng-model="name5">{{name5}}</p>
            <p class = "address" ng-model="address5">{{address5}}</p>
            <p class = "website" ng-model="website5">{{website5}}</p>
          </div>
        </div>
        <!-- Right half of the application, weather information -->
        <div class = "col-md-6 data">
          <div id = "summary">
            <p id = "summaryText" ng-model="summText">{{summText}}</p></div>
          <div id = "labelStatContainer">
            <div id = "labels">
              <p class = "weatherLabel">Temperature:</p>
              <p class = "weatherLabel">Chance of Rain:</p>
              <p class = "weatherLabel">Humidity:</p>
              <p class = "weatherLabel">Wind Speed:</p>
              <p class = "label"></p>
            </div><div id = "stats">
              <p class = "statistic" ng-model="temp">{{temp}}</p>
              <p class = "statistic" ng-model="precipProb">{{precipProb}}</p>
              <p class = "statistic" ng-model="humidity">{{humidity}}</p>
              <p class = "statistic" ng-model="windSpeed">{{windSpeed}}</p>
            </div>
          </div>
          <div id = "darkSkyFooter">Powered by Dark Sky</div>
        <div id="map"></div></div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-1.12.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBWz4xdJGebMiPxS3rzNsYW_dtUEEfHc0&libraries=places"></script>
  <script src="js/locationLookup.js"></script>
</html>